.postit{width:48px;height:48px;display:block;float:left;overflow:hidden;z-index:1;}
.white{border:1px solid rgba(0,0,0,0);}

.dr{cursor:move;}
.gridded .postit{border:1px dotted rgba(0,0,0,0.5);}
.gridded .core{border:1px dotted rgba(0,0,0,0.5);border-right:none;}
.gridded.editable .dr{outline:none;}

.hover,
.gridded .hover{background:url(i/hover.png) repeat 0 0;}

.head{clear:both;border-bottom:1px solid #999;margin-bottom:10px;overflow:hidden;}
.head h3{float:left;}

.wrapContainerPI{text-align:center;}
.containerPostIt{position:relative;display:block;margin:0 auto;padding:40px 0 40px 70px;display:inline-block;}
.core{position:relative;}
#original{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);z-index:2;}
.editable #original{z-index:-1;}

.origin{display:none;}
.editable .origin{display:block;position:absolute;top:0;z-index:5;}
.editable .origin .wPostit{float:left;margin:0 0 0 10px;
-webkit-box-shadow: 1px 3px 6px #444;
-moz-box-shadow: 1px 3px 6px #444;
box-shadow: 1px 3px 6px #444;
}
.editable .origin .wPostit .postit{
-webkit-box-shadow:0 0 0 #fff;
-moz-box-shadow:0 0 0 #fff;
box-shadow:0 0 0 #fff;
}

.editable .dr{
-webkit-box-shadow: 1px 3px 6px #444;
-moz-box-shadow: 1px 3px 6px #444;
box-shadow: 1px 3px 6px #444;
}
.editable .dr span{display:block;width:100%;height:100%;}

.editable .ui-draggable-dragging{z-index:999;
-webkit-transform: rotate(4deg);
-moz-transform: rotate(4deg);
-o-transform:rotate(4deg);
rotation:4deg;
-webkit-box-shadow: 4px 4px 8px #444;
-moz-box-shadow: 10px 10px 10px #444;
box-shadow: 4px 4px 8px #444;
}

.editable .trash{background:url(i/trash.png) no-repeat -10px 0;position:absolute;display:block;bottom:0;left:0px;width:80px;height:100px;z-index:4;opacity:0.5;filter:alpha(opacity=50);}
.editable .toTrash{opacity:1;filter:alpha(opacity=100);}

.ui-draggable{position:relative;}
.console{clear:both;border-top:1px solid #000;}
.console .line{display:inline-block;width:100%;font-size:35px;font-weight:bold;text-align:right;}
.console .line .post{float:right;margin-left:10px;}
.console .total{border-top:1px dotted #999;color:#999;font-size:12px;}
.console .total b{font-weight:bold;font-size:14px;color:#000;}

.head,
.console{min-width:800px;}

.block{display:block;margin:6px 0;border-bottom:1px solid #999;padding:5px 0;overflow:hidden;}
.block label{cursor:pointer;}
.size{font-size:14px;}
.size b{font-weight:bold;font-size:20px;color:#000;}
.copyLink input{width:350px;padding:5px 0;border:1px dotted #999;}

.colRight{float:left;}
.slider{width:200px;margin:10px 0 0 20px;float:left;padding-right:26px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.ui-widget-content{border:1px solid #ddd;background:#eee;color:#333;}
.ui-state-default{display:block;position:relative;border:1px solid #ccc;background:#f6f6f6;outline:none;width:25px;height:25px;}

.slideImgOriginal{border-bottom:0;}
.wslide{padding:5px 2px;background:#999;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;overflow:hidden;}
.wslide span{float:left;font-size:10px;line-height:30px;padding:0 3px;}
.wslide #slider2{float:left;margin:0;}








.editable .sh1 span{
background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(36%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
background: linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0) 100%);
}

.editable .sh2 span{
background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(34%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
background: linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 100%);
}

.editable .sh3 span{
background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
background: linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
}

.editable .sh4 span{
background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.4) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.4) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
background: linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.4) 100%);
}

.editable .sh5 span{
background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 46%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(46%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
background: linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 100%);
}

.editable .rot1{
-webkit-transform: rotate(1deg);
-moz-transform: rotate(1deg);
-o-transform:rotate(1deg);
rotation:1deg;
}

.editable .rot2{
-webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
-o-transform:rotate(-1deg);
rotation:-1deg;
}

.editable .rot3{
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
-o-transform:rotate(2deg);
rotation:2deg;
}